* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("images/bg3.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    flex-direction: column;
}

/*********  MAIN   **************/

#logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: min(4.3vw, 50px);
    font-weight: 550;
    margin-top: 40px;
    background: linear-gradient(50deg, #000000, #30502b, #1d571b);
    background-clip: text;
    color: transparent;
    gap: 13px;
}

#logo_img {
    width: min(5.5vw, 70px);
}

.container {
    width: 80%;
    height: auto;
    /*background-color: #b8e8b8;*/
    border-radius: 15px;
    backdrop-filter: blur(15px);
    position: relative;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    flex-direction: column;
}

.blur_effect {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    opacity: 0.5;
    /*filter:blur(3px);*/
    position: absolute;
    z-index: -1;
    border-radius: 15px;
}

.timer_div,
.break_div {
    margin-top: 50px;
    background-color: white;
    width: min(50%, 600px);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 50px;
}

#timer_input,
#break_input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 70px;
}

#minute_input,
#break_input,
#seconds_input,
#colon,
#minute_break_input,
#seconds_break_input,
#colon_break {
    border: none;
    -moz-appearance: textfield;
    /* to remove the arrows that appear in input type number*/
    outline: none;
    margin-top: 20px;
    width: 33%;
    text-align: center;
    font-weight: 520;
    height: 70px;
    font-size: 70px;
    margin-bottom: 30px;
}

#colon,
#colon_break {
    width: 20px;
}

#minute_break_input,
#seconds_break_input {
    width: 90px;
}

.timer_div h2,
.break_div h2 {
    margin-top: 20px;
}

.button_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    gap: 10%;
}

.button_div button,
.break_div button {
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #000000;
    color: white;
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 40px;
    font-weight: 510;
    cursor: pointer;
    transition: .4s all ease-in-out;
}

.button_div button:hover {
    width: 140px;
    height: 50px;
    box-shadow: 0 0 20px #3edd14;
}

#break_input {
    font-size: 50px;
}

.break_div button {
    width: 150px;
    margin-bottom: 15px;
}

.break_div button:hover {
    width: 160px;
    height: 50px;
    box-shadow: 0 0 20px #dd1414;
}

.break_div {
    display: none;
}

#warning {
    color: #b60707;
    margin-bottom: 10px;
}

#pause,
#reset {
    display: none;
}

.control_imgs {
    width: 30px;
}


/***************responsive view****************/


@media screen and (max-width:500px) {
    .container {
        width: 85%;
        gap: 0;
        height: 400px;
    }


    #logo {
        font-size: 30px;
        background: linear-gradient(50deg, #0b290b, #3982e0, #045301);
        background-clip: text;
        color: transparent;
    }

    #logo_img {
        width: 40px;
    }
    .timer_div, .break_div{
        width: 90%;
        height: 240px;
        margin-bottom: -10px;
    }

}